# How are weather trends in the Midwest U.S. related with corn futures prices?

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load FAOSTAT data
corn_data = pd.read_csv("../data/raw/FAOSTAT_data_en_6-27-2025.csv")

:

## Introduction

Corn is one of the most consumed grains in human history. It has served as a staple food, we use it as a base for animal feed, and it is used in large quantities industrially. Its importance in global agricultural markets makes it a key commodity for both producers and investors. The largest producer and exporter of corn is the United States (see the graph below) accounting for approximately xx of the global production. Therefore, fluctuations in US corn yields can significantly influence global food prices and create imbalances in the industrialized production.

The U.S. corn growing season typically begins in April and extends through September or October (USDA), with planting concentrated in the spring and crop development during the summer months. Harvesting typically begins in late August and can extend into November, depending on regional climatic conditions.

<div align="center">
  <img src="../images/us_crop_1_calendar.png" alt="US Corn Crop Calendar – USDA FAS" width="600"/>
  <p><em>Figure: U.S. corn crop calendar showing typical planting and harvest periods. Source: <a href="https://ipad.fas.usda.gov/countrysummary/Default.aspx">USDA FAS</a>.</em></p>
</div>

Because corn is so sensitive to climatic conditions, climatic variables such as temperature, precipitation, and extreme weather events play a crucial role in determining yield. For example, periods of excessive heat during pollination or drought stress during grain fill can severely reduce productivity. Conversely, stable and moderate growing conditions often result in bumper harvests.

In [3]:
corn_data

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1961,1961,ha,500000.0,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112,Maize (corn),1961,1961,kg/ha,1400.0,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1961,1961,t,700000.0,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1962,1962,ha,500000.0,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112,Maize (corn),1962,1962,kg/ha,1400.0,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29064,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112,Maize (corn),2022,2022,kg/ha,934.0,A,Official figure,NaN
29065,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112,Maize (corn),2022,2022,t,1019603.9,A,Official figure,NaN
29066,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2023,2023,ha,869536.0,A,Official figure,NaN
29067,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112,Maize (corn),2023,2023,kg/ha,729.9,A,Official figure,NaN
29068,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112,Maize (corn),2023,2023,t,634699.0,A,Official figure,NaN

In [15]:
year = 2022
corn_production_data_2022 = corn_data.loc[(corn_data['Year'] == year) & (corn_data['Element'] == 'Production')]
corn_production_data_2022.sort_values(by = ['Value'], ascending = False).head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
27460,QCL,Crops and livestock products,840,United States of America,5510,Production,112,Maize (corn),2022,2022,t,346739460.0,A,Official figure,NaN
5846,QCL,Crops and livestock products,159,China,5510,Production,112,Maize (corn),2022,2022,t,277430136.0,A,Official figure,NaN
6035,QCL,Crops and livestock products,156,"China, mainland",5510,Production,112,Maize (corn),2022,2022,t,277203000.0,A,Official figure,NaN
3767,QCL,Crops and livestock products,76,Brazil,5510,Production,112,Maize (corn),2022,2022,t,109738941.0,A,Official figure,NaN
1115,QCL,Crops and livestock products,32,Argentina,5510,Production,112,Maize (corn),2022,2022,t,59037179.0,A,Official figure,NaN

In [16]:
corn_production_data_2022.sort_values(by = ['Value'], ascending = False).drop(6035).head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
27460,QCL,Crops and livestock products,840,United States of America,5510,Production,112,Maize (corn),2022,2022,t,346739460.0,A,Official figure,NaN
5846,QCL,Crops and livestock products,159,China,5510,Production,112,Maize (corn),2022,2022,t,277430136.0,A,Official figure,NaN
3767,QCL,Crops and livestock products,76,Brazil,5510,Production,112,Maize (corn),2022,2022,t,109738941.0,A,Official figure,NaN
1115,QCL,Crops and livestock products,32,Argentina,5510,Production,112,Maize (corn),2022,2022,t,59037179.0,A,Official figure,NaN
12939,QCL,Crops and livestock products,356,India,5510,Production,112,Maize (corn),2022,2022,t,33729540.0,A,Official figure,NaN

In [11]:
corn_production_data_2022['Value']

185       311000.00
374       401419.00
563        11000.00
752      3089902.00
926           47.45
            ...
28216    1000000.00
28405    4423352.38
28594      60000.00
28876    2706243.46
29065    1019603.90
Name: Value, Length: 172, dtype: float64

In [ ]:
corn_production_data_2022['Percentage of production'] = corn_production_data_2022['Value'] / corn_production_data_2022['Value'].sum()

In [4]:
data

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1961,1961,ha,500000.0,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112,Maize (corn),1961,1961,kg/ha,1400.0,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112,Maize (corn),1961,1961,t,700000.0,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112,Maize (corn),1962,1962,ha,500000.0,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112,Maize (corn),1962,1962,kg/ha,1400.0,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29064,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112,Maize (corn),2022,2022,kg/ha,934.0,A,Official figure,NaN
29065,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112,Maize (corn),2022,2022,t,1019603.9,A,Official figure,NaN
29066,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112,Maize (corn),2023,2023,ha,869536.0,A,Official figure,NaN
29067,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112,Maize (corn),2023,2023,kg/ha,729.9,A,Official figure,NaN
29068,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112,Maize (corn),2023,2023,t,634699.0,A,Official figure,NaN

In [36]:
data['Item'].unique()

array(['Maize (corn)', 'Green corn (maize)'], dtype=object)

In [35]:
data['Item'].unique()

array(['Maize (corn)', 'Green corn (maize)'], dtype=object)

In [40]:
data_corn = data.loc[data['Item'] == 'Maize (corn)']

In [41]:
data_corn

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112.0,Maize (corn),1961,1961,ha,500000.0,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112.0,Maize (corn),1961,1961,kg/ha,1400.0,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,112.0,Maize (corn),1961,1961,t,700000.0,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,112.0,Maize (corn),1962,1962,ha,500000.0,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,112.0,Maize (corn),1962,1962,kg/ha,1400.0,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37083,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112.0,Maize (corn),2022,2022,kg/ha,934.0,A,Official figure,NaN
37084,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112.0,Maize (corn),2022,2022,t,1019603.9,A,Official figure,NaN
37085,QCL,Crops and livestock products,716,Zimbabwe,5312,Area harvested,112.0,Maize (corn),2023,2023,ha,869536.0,A,Official figure,NaN
37086,QCL,Crops and livestock products,716,Zimbabwe,5412,Yield,112.0,Maize (corn),2023,2023,kg/ha,729.9,A,Official figure,NaN
37087,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,112.0,Maize (corn),2023,2023,t,634699.0,A,Official figure,NaN

https://www.investopedia.com/articles/markets-economy/090316/6-countries-produce-most-corn.asp

https://www.world-grain.com/media/photos/155-world-s-top-10-corn-producers

https://worldostats.com/country-stats/corn-maize-production-by-country/

https://www.fao.org/faostat/en/#data/QCL

https://www.ers.usda.gov/topics/crops/corn-and-other-feed-grains/feed-grains-sector-at-a-glance

https://www.britannica.com/place/Corn-Belt

https://www.extension.purdue.edu/extmedia/nch/nch-40.html

https://ipad.fas.usda.gov/countrysummary/Default.aspx?id=US